.timebar-container {
  position: relative;
  width: 100%;
  height: 5rem; /* Adjust as needed */
}

.timebar-container .ruler {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.timebar-container .ruler .ruler__item {
  position: relative;
  display: flex;
  float: none;
}

.timebar {
  position: relative;
  top: .5rem;
  left: 0;
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
}
